snippet doctype
	<!doctype html>
snippet head
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"`Close()`>

		<title>${1:`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`}</title>
		${2}
	</head>
snippet meta
	<meta name="${1:name}" content="${2:content}"`Close()`>${3}
